@media (prefers-reduced-motion: no-preference) {

html {
    color: #1a1818;
    font-size: 1em;
    line-height: 1.4;
    scroll-behavior: smooth;  
    }
}
  
:root {
   --animation-timing: 200ms ease-in-out;
}

  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }

  /*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

 fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
 textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   /* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lexend", sans-serif;
    font-size: 1em;
    line-height: 20px;
    background: #ece7e1;
    transition: background-color 0.3s ease-in-out;
}

ul, ol {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
  }

a {
    text-decoration: none;
    color: #1a1818;
 }

h1 {
    font-family: "Playfair Display SC", serif;
    font-style: normal;
    font-size: 1.875em;
    margin: 0;
    width: 100%
  }

  h2 {
    font-family: "M PLUS 2", sans-serif;
    font-size: 1.75em;
  }

  h2, h3 {
   margin: 15px 0;
   width: 100%
  }

  h3 {
    font-family: "M PLUS 2", sans-serif;
    font-weight: 300;
    font-size: 2em;
    margin: 20px 0 40px 0;
  }

  h3, h4 {
    text-transform: uppercase;
  }

  h4 {
   font-family: "Metal", serif;
   font-size: 1.2em;
   line-height: 1.2;
   width: 100%
  }

  p {
    font-family: 'M PLUS 2', sans-serif;
    font-size: .875em;
    line-height: 1.285;
    margin: 0;
  }
  
  p, li {
    line-height: 1.2;
    font-size: 1em;
    color: #1a1818;
  }

  img {
    width: 100%;
    object-fit: cover;
  }
  
  address {
    font-style: normal;
  }
  
  .content-wrapper {
    width: 90%;
  }

  header, #hero-area, #projects, #skills, #about, footer {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  .section-container, #projects, #skills, #about {
    margin: 40px 0px;
  }

  #projects, #skills {
    width: 100%;
  }

  #about, #skills {
    color: #ece7e1;
  }


      /* -------------------- Base Header - Footer Styles -------------------- */

header,
footer {
    display: flex;
    align-items: center;
    width: 100%;
}

#hero-area {
  padding-top: 20px;
}
      
/* ----- NAV ------ */

#home .content-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

nav ul {
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  align-items: center;
  padding: 20px 60px;
}

header nav ul li {
  font-size: 1.125em;
  text-transform: uppercase;
  padding: 5px 15px;
  font-weight: 700;
}

header nav ul li:hover {
  text-decoration: line-through;
}

  /* JS nav bar*/ 

#navbar {
  display: none;
  position: absolute;
  z-index: 1000;
  padding: 10px 0px 20px 100px;
}

#navbar.show {
  display: block;
}

#navbar.active {
  position: absolute;
  top: 0; 
  left: 0;
  transition: max-height 0.5s ease-out;
}

button i {
  display: none;
  font-size: 1.75em;
  background-color: var(--light-grey);
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  z-index: 1001;
}

#toggleBtn {
  display: none;
  position: absolute;
  right: 5%;
  border: none;
  background-color: transparent;
  border-radius: 60px;
  color: inherit;
  padding: 1em 1em;
  z-index: 1001;
}

.active {
  color: white;
  max-height: 200px;
}

/* end of nav */


/* ------------------------------- Mobile Styles -------------------------------- */

/* ---------- Hero Area ---------- */

.section-container {
  padding: 10px;
  min-height: 500px;
}

#hero-area.shifted {
  margin-top: 260px;
}

.section-left {
  margin-top: 12%;
  padding: 40px 30px 60px 30px;
}

.section-right {
  line-height: 1;
  text-transform: uppercase;
  padding: 20px;
}

.section-right ul {
  font-family: "Metal", serif;
  font-size: 4em;
}

.section-right ul li:hover {
  font-style: italic;
}

.hero-heading {
  font-size: 1.7em;
  line-height: 1.2; 
}

.hero-subheading {
  font-size: 1em;
}

/* ----------  About ---------- */

#about {
  padding: 80px 0px;
  margin: 0 auto;
  height: 100%;
}

#about .content-wrapper {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.about-info {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

figure {
  text-align: center
}

#profile-img {
  width: 50%;
  border: solid black 4px;
  border-radius: 10px;
}

#about h2, 
#about h4 {
  color: #1a1818;
}

#about h2 {
  padding-top: 30px; 
  text-align: center;
}

#about h4 {
  font-family: "Metal", serif;
  padding-bottom: 30px;
  text-align: center;
  text-transform: none;
}

#about p {
  padding-top: 10px;
  font-size: 1em;
  text-align: left;
  line-height: 25px;
}

/* ----------  Projects ---------- */


#projects h3 {
  width: 100%;
  text-align: center;
}

#projects .content-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding: 40px 0;
} 

.project-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
}

#projects h4 {
  font-family: "M PLUS 2", sans-serif;
  font-size: 1.3em;
  margin: 20px 0px 30px 0px;
  text-align: center;
  padding-top: 30px;
}

.project-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px #1a1818;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 30px;
  background: #ece7e1;
}

.project-item:hover {
  box-shadow: 2px 2px 2px 2px gainsboro;
}

.project-description {
  display: flex;
  align-items: flex start;
  flex-grow: 1;
  padding-left: 10px;
  flex-direction: column;
}

.project-description p {
  margin-bottom: 30px;
}

.project-description h5 {
  margin-bottom: 40px;
}


/******** Skills *********/

#skills {
  padding: 80px 0px 80px 0px;
  text-align: center;
}

.skill-header {
  margin-bottom: 20px;
}

.skill-container p {
  background: #ece7e1;
  border: solid 1px #ece7e1;
  color: #1a1818;
  border-radius: 10px;
  padding: 15px 50px;
  margin: 20px 0;
  text-transform: uppercase;
  font-size: 1em;
}

/******** Contact/Footer ********/

footer {
  flex-direction: column;
  text-align: center;
  color: #ece7e1;
  height: 75vh;
}

footer h4 {
  padding: 0px 20px 80px 20px;
}

footer p {
  margin: 0;
  color: #ece7e1;
}

footer .content-wrapper {
  width: 100%;
  margin: 50px 0;
}

footer .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ece7e1;
  padding: 20px;
}

footer .social-icons p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

p#email-header {
  padding: 10px;
  margin: 0 auto;
  width: 90%;
  font-size: .8em;
  font-style: normal;
  line-height: 1.2;
  color: #ece7e1;
  text-transform: uppercase;
  letter-spacing: 2px;
}

footer .social-icons p i {
  font-size: 1.75em;
  color: #ece7e1;
}

footer #contact {
  margin-bottom: 50px;
}

footer .social-icons p i:hover {
  color: darkgray;
}

.copyright {
  font-size: .8em;
  padding-right: 5px;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/************************** TABLET STYLES ***********************/
@media only screen and (min-width: 768px) {
  /* General Styles */
  .content-wrapper {
    max-width: 640px;
  }

    /* font styles */
    h1 {
      font-size: 2.5rem;
    }
  
    h3 {
      font-size: 3rem;
    }
  
    h4 {
      font-size: 1.5rem;
    }
  
    h5 {
      font-size: 1.5rem;
    }
  
    header nav ul li {
      font-size: .7rem;
    }


   /* header */
   header {
    padding-bottom: 60px;
  }

   header .content-wrapper {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  header nav {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #ece7e1;
    transition: all .3s ease;
    padding: 20px 0;
    z-index: 1000;
    opacity: .95;
  }

  header nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-flow: row wrap;
    padding: 20px 80px;
    margin: 0;
  }

  nav {
    margin: 0 0 80px 0;
  }

  #navbar {
    padding: 0;

  }

  #toggleBtn {
    right: -30px;
  }

  /* Hero Area */

  .section-right ul {
    font-size: 6em;
  }

  
  /* About */
  #about {
    height: 100%;
  }

  #about h2 {
    padding: 0px; 
  }
  
  #profile-img {
    width: 60%;
    }

  .about-info {
    padding: 20px;
  }

  #about-info p {
    text-align: left;
  }

  /* Projects */
  #projects .content-wrapper {
    max-width: none;
  }
  #projects h3 {
    padding-bottom: 40px;
  }

  .project-header {
    margin: 0 0 60px 0;
  }

  .project-description {
    margin: 0 0 30px 0;
    width: 100%;
  }

  .project-link {
    margin: 40px 0 60px 0;
  }
  
   .project-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; 
  }

  .project-item {
    width: 30%;
    padding: 10px 15px;
    height: 600px;
    margin: 5px;
  }

  /* Skills */ 
  #skills {
    padding: 80px 0px;
  }

  .skills-header {
    margin-bottom: 40px;
  }

  #skills h4 {
    margin: 40px 0 20px 0;
  }

  .skill-container {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      flex-flow: row wrap;
      text-transform: uppercase;
   }

  .skill-container p {
      padding: 15px 0px;
    }
  
  .skill {
      width: 30%;
    }
  
  /*Footer*/


  footer {
    padding: 80px 0;
    padding-bottom: 80px;
  }

  p#email-header a {
    width: 60%;
    font-size: .9em;
  }

}

/************************** DESKTOP STYLES **********************/
@media only screen and (min-width: 1200px) {

 .content-wrapper {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
 }

 #toggleBtn {
  padding: 1.70em;
  right: 20px;
}

 .header-divider {
    padding: 16px;
 }

  #about {
    padding: 140px 0px;
  }

  #about h2, #about h4 {
    text-align: left;
  }

  #about .content-wrapper {
    flex-flow: row; 
    width: 100%;
  }
  .about-info {
    padding-right: 100px;
  }
  
 .section-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 100%;
 }

 .section-right {
  padding: 0px 20px 20px 80px;
 }

 .img-section {

 }

  #profile-img {
     width: 60%;
 }

 #projects {
  padding: 20px 0px;
  }

  .project-container {
    width: 100%;
  }

  .project-item {
    margin: 15px;
    height: 600px;
  }

   #skills .content-wrapper {
    max-width: 90%;
  }

  p#email-header a {
    width: 35%;
  }

}
